@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  /* background: linear-gradient(0deg, rgba(9, 9, 9, 0.95), rgba(9, 9, 9, 0.95)), url(https://freepik.cdnpk.net/assets/964f58b6a12e1b2e627e8d505958023b.png);
  scroll-behavior: smooth; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* .grainy {
  background: linear-gradient(0deg, rgba(9, 9, 9, 0.95), rgba(9, 9, 9, 0.95)), url(https://freepik.cdnpk.net/assets/964f58b6a12e1b2e627e8d505958023b.png);
} */